# Introduction

**What is NumPy?**

---


*  NumPy is a Python library **used for working with arrays.**

*  It also has functions for working in domain of linear algebra, fourier transform, and matrices.

*  NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

* NumPy stands for **Numerical Python**.

  *  Array

      * An **array** is a data structure that **can store multiple elements of the same data type in a single variable.** It is a collection of elements, usually arranged in a sequence, that allows for efficient access and manipulation of the data.

**Why Use NumPy?**

---


*  In Python we have **lists** that serve the purpose of arrays, but **they are slow to process**.

*  **NumPy** aims to provide an array object that is up to **50x faster than traditional Python lists.**

*  The **array object in NumPy is called ndarray**, it provides a lot of supporting functions that make working with ndarray very easy.

*  Arrays are very frequently used in data science, where speed and resources are very important.

**Why is NumPy Faster Than Lists?**


---


* **NumPy arrays are stored at one continuous place** in memory unlike lists so processes **can access and manipulate them very efficiently**.


* This behavior is called **locality of reference** in computer science.

* This is the main reason why NumPy is faster than lists. Also it is optimized to work with latest CPU architectures.

* **Contiguous Memory Allocation:**
    *  **NumPy arrays are stored in contiguous memory blocks**, unlike Python lists, which are arrays of pointers to objects. This allows NumPy to efficiently access and manipulate data since all elements are stored together in memory.

* **Homogeneous Data Types:**
    *  **All elements in a NumPy array are of the same data type, which means less memory overhead compared to Python lists**, which can store elements of different types, leading to additional memory usage.

* **Optimized C Implementation:**  
     * **Underlying C Code**: NumPy is implemented in C, which allows for the execution of operations at the machine level. Python lists, on the other hand, are managed by the Python interpreter, which adds overhead. NumPy leverages highly optimized C libraries to perform operations much faster.
     * **Low-Level Operations:** When you perform operations on NumPy arrays, these operations are executed at a lower level with less overhead, while Python lists require more processing time due to the need for interpreting and handling different types of elements.
* **Vectorization:**
     *  **Element-Wise Operations:** NumPy allows for vectorized operations, meaning you can perform operations on entire arrays without the need for explicit loops. This is achieved through SIMD (Single Instruction, Multiple Data) operations, which are much faster than executing Python loops.


*  **Reduced Overhead:**
     * **Python Lists:** Each element in a Python list is a full-fledged Python object, which includes metadata, reference counting, and other overhead. When performing operations on lists, Python has to manage this overhead for each element.
     * **NumPy Arrays:** NumPy arrays are more memory-efficient because they store data in a fixed-size, homogeneous block of memory without the need for the extra overhead associated with Python objects.
*  **Broadcasting:**
     *  NumPy supports broadcasting, which allows operations on arrays of different shapes and sizes without making copies of data. This avoids unnecessary memory allocation and improves performance.
* **In-Place Operations:**
    *  NumPy supports in-place operations that modify the existing array rather than creating a new one, saving both time and memory.

In [ ]:
# Using NumPy for element-wise addition
a = np.array([1, 2, 3, 4, 5])
b = np.array([10, 20, 30, 40, 50])
c = a + b  # Vectorized operation
print(c)

[11 22 33 44 55]

**Import NumPy**

---

In [ ]:
import numpy

In [ ]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])
lt = [1, 2, 3, 4, 5]
print("List elemennts are : ",lt)
print(type(lt))
print("----------------------------------------Understand the difference  ---------------------")
print("Array elements are : ",arr)
print(type(arr))

List elemennts are :  [1, 2, 3, 4, 5]
<class 'list'>
----------------------------------------Understand the difference  ---------------------
Array elements are :  [1 2 3 4 5]
<class 'numpy.ndarray'>

**NumPy as np**

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

Checking NumPy Version

In [ ]:
import numpy as np

print(np.__version__)

1.26.4

# NumPy Creating Arrays

Create a NumPy ndarray Object

* NumPy is used to work with arrays. **The array object in NumPy is called ndarray.**

* We can create a NumPy ndarray object by using the **array()** function.

* An ndarray (short for **N-dimensional array**) is the core data structure of the NumPy library. It represents a multi-dimensional, homogeneous array of fixed-size items. **Each item in an ndarray takes up the same amount of memory, and the entire array is stored in a contiguous block of memory, which allows for efficient data access and manipulation.**

* Key Features of ndarray:
    * **Multi-dimensional**: An ndarray can have any number of dimensions, from 1D (a simple array or list) to 2D (like a matrix) to higher dimensions (e.g., 3D, 4D arrays, etc.).
    * **Homogeneous Data Types**: All elements in an ndarray must be of the same data type (e.g., all integers, all floats).
    * **Efficient:** ndarray is highly efficient in terms of both memory usage and performance, making it ideal for large-scale numerical computations.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

Use a tuple to create a NumPy array:

In [ ]:
import numpy as np

arr = np.array((1, 2, 3, 4, 5))

print(arr)

[1 2 3 4 5]

More examples:  1D 2D 3D

In [ ]:
import numpy as np

# Creating a 1D ndarray
array_1d = np.array([1, 2, 3, 4, 5])

# Creating a 2D ndarray (matrix)
array_2d = np.array([[1, 2, 3], [4, 5, 6]])

# Creating a 3D ndarray
array_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print("1D Array:\n", array_1d)
print("2D Array:\n", array_2d)
print("3D Array:\n", array_3d)

1D Array:
 [1 2 3 4 5]
2D Array:
 [[1 2 3]
 [4 5 6]]
3D Array:
 [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
print(array_2d)
print("Number of dimensions (ndim):", array_2d.ndim)
print("Shape of the array (shape):", array_2d.shape)
print("Total number of elements (size):", array_2d.size)
print("Data type of elements (dtype):", array_2d.dtype)

[[1 2 3]
 [4 5 6]]
Number of dimensions (ndim): 2
Shape of the array (shape): (2, 3)
Total number of elements (size): 6
Data type of elements (dtype): int64

Attributes of ndarray:
 * **ndim**: Returns the number of dimensions of the array.
 * **shape**: Returns a tuple representing the size of the array in each dimension (e.g., (rows, columns) for 2D arrays).
 * **size:** Returns the total number of elements in the array.
 * **dtype**: Returns the data type of the elements in the array.

**Dimensions in Arrays**

---

* A dimension in arrays is one level of array depth (nested arrays).
* **nested array:** are arrays that have arrays as their elements.

**0-D Arrays**

---
* Zero dimensional arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.


---

**Characteristics of 0-D Arrays:**

* **Single Elemen**t: A 0-D array holds just one value.
* **No Dimensions:** Since it's a scalar value, it **doesn't have rows, columns, or higher dimensions.**
* **Data Type:** Like other NumPy arrays, a 0-D array has a specific data type, which is uniform for the single element it contains.


---

In [ ]:
import numpy as np

arr = np.array(42)

print(arr)

42

In [ ]:
import numpy as np

# Creating a 0-D array (scalar)
ar = np.array(42)

print("0-D Array:", ar)
print("Number of dimensions (ndim):", ar.ndim)

0-D Array: 42
Number of dimensions (ndim): 0

In [ ]:
# Example 1: Creating a 0-D Array with Different Data Types
import numpy as np

# 0-D array with an integer
int_array= np.array(10)

# 0-D array with a float
float_array= np.array(3.14)

# 0-D array with a string
string_array = np.array("Hello")

print("Integer 0-D Array:", int_array)
print("Float 0-D Array:", float_array)
print("String 0-D Array:", string_array)

Integer 0-D Array: 10
Float 0-D Array: 3.14
String 0-D Array: Hello

In [ ]:
# Example 2: Checking Attributes of 0-D Arrays
# 0-D array with a boolean value
bool_array= np.array(True)

print("0-D Array:", bool_array)
print("Number of dimensions (ndim):", bool_array.ndim)
print("Shape of the array (shape):", bool_array.shape)
print("Total number of elements (size):", bool_array.size)
print("Data type of elements (dtype):", bool_array.dtype)

0-D Array: True
Number of dimensions (ndim): 0
Shape of the array (shape): ()
Total number of elements (size): 1
Data type of elements (dtype): bool

In [ ]:
# Example 3: Performing Operations on 0-D Arrays
# Creating two 0-D arrays
a = np.array(7)
b = np.array(3)

# Arithmetic operations
sum_result = a + b
product_result = a * b

print("Sum of 0-D arrays:", sum_result)
print("Product of 0-D arrays:", product_result)

Sum of 0-D arrays: 10
Product of 0-D arrays: 21

In [ ]:
# Example 4: Converting a 0-D Array to a Scalar
# You can convert a 0-D array back to a Python scalar using the item() method.
# 0-D array
array = np.array(99)
# Convert to scalar
scalar_value = array.item()
print("0D - Array: ",array)
print("Type of 0D array : ",type(array))

print("-----------    After Converting 0D Array back to python Scalar -----------")

print("Scalar value:", scalar_value)
print("Type of scalar value:", type(scalar_value))

0D - Array:  99
Type of 0D array :  <class 'numpy.ndarray'>
-----------    After Converting 0D Array back to python Scalar -----------
Scalar value: 99
Type of scalar value: <class 'int'>

**1-D Arrays**

---
* An **array that has 0-D arrays as its elemen**ts is called **uni-dimensional or 1-D array.**

* These are the most common and basic arrays.
---
* A 1-D array (one-dimensional array) in NumPy is the simplest form of an array that can hold multiple elements arranged in a single row or a single column. It is essentially a list of elements that can be accessed by their index.

Key Characteristics of 1-D Arrays:

* **Single Dimension:**A 1-D array has only one axis or dimension, which means it's a linear sequence of elements.
* **Homogeneous Data Type:** All elements in a 1-D array must be of the same data type (e.g., all integers, all floats).
* **Indexed Access:** Elements in a 1-D array can be accessed using their index, starting from 0.

![image.png]()

In [ ]:
import numpy as np

# Creating python list
l=[12.23,13.32,100,10.32]

print("List : ",l)

# Creating Numpy Array
arr=np.array(l)

# Printing one dimensional numpy array
print("Numpy Array : ",arr)
print("Array dimension : ",arr.ndim)

List :  [12.23, 13.32, 100, 10.32]
Numpy Array :  [ 12.23  13.32 100.    10.32]
Array dimension :  1

Create a 1-D array containing the values 1,2,3,4,5:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [ ]:
import numpy as np

# Creating a 1-D array
array_1d = np.array([10, 20, 30, 40, 50])

print("1-D Array:", array_1d)
print("Number of dimensions (ndim):", array_1d.ndim)
print("Shape of the array (shape):", array_1d.shape)
print("Total number of elements (size):", array_1d.size)
print("Data type of elements (dtype):", array_1d.dtype)

1-D Array: [10 20 30 40 50]
Number of dimensions (ndim): 1
Shape of the array (shape): (5,)
Total number of elements (size): 5
Data type of elements (dtype): int64

In [ ]:
# Accessing elements by index
first_element = array_1d[0]
third_element = array_1d[2]
last_element = array_1d[-1]

print("First element:", first_element)
print("Third element:", third_element)
print("Last element:", last_element)

First element: 10
Third element: 30
Last element: 50

**What Does dtype Represent?**
* dtype stands for "data type."
* It describes the type of elements contained within the array, such as integers, floating-point numbers, or strings.
* NumPy arrays are homogeneous, meaning all elements in the array must be of the same type, and dtype indicates what that type is.

**Slicing a 1-D Array:**

---

In [ ]:
# Slicing the array from index 1 to 3
sub_array = array_1d[1:4]
print(array_1d)
print("Sliced array:", sub_array)

[10 20 30 40 50]
Sliced array: [20 30 40]

Performing Operations on a 1-D Array:

In [ ]:
# Adding a scalar to each element
array_plus_ten = array_1d + 10

# Multiplying each element by 2
array_times_two = array_1d * 2

print("Array after adding 10:", array_plus_ten)
print("Array after multiplying by 2:", array_times_two)

Array after adding 10: [20 30 40 50 60]
Array after multiplying by 2: [ 20  40  60  80 100]

1. Print an array range between 1 to 35 and show 7 integer random numbers

In [ ]:
import numpy as np
rand_arr = np.random.randint(1,35,7)

print(rand_arr)
print(type(rand_arr))

[27 13 29 21 13 16 31]
<class 'numpy.ndarray'>

**2-D Arrays**

---
* An array that has 1-D arrays as its elements is called a 2-D array.

* These are often used to represent matrix or 2nd order tensors.

* NumPy has a whole sub module dedicated towards matrix operations called **numpy.mat**


---
* A 2-D array (two-dimensional array) in NumPy is an array that has two dimensions, often visualized as **rows and columns, similar to a matrix or a table**. This structure allows you to store data in a grid format, making it suitable for representing things like matrices, image data, or tabular data.
Key Characteristics of 2-D Arrays:

* **Two Dimensions:** A 2-D array has rows and columns. The shape of the array is described by a tuple (rows, columns).
* **Homogeneous Data Type:** All elements in a 2-D array must be of the same data type.
* **Indexed Access:** Elements can be accessed using two indices: one for the row and one for the column.

Create a 2-D array containing two arrays with the values 1,2,3 and 4,5,6:

---

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

[[1 2 3]
 [4 5 6]]

In [ ]:
# Example of Creating a 2-D Array:
import numpy as np

# Creating a 2-D array (matrix)
array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print("2-D Array:\n", array_2d)
print("Number of dimensions (ndim):", array_2d.ndim)
print("Shape of the array (shape):", array_2d.shape)
print("Total number of elements (size):", array_2d.size)
print("Data type of elements (dtype):", array_2d.dtype)

2-D Array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Number of dimensions (ndim): 2
Shape of the array (shape): (3, 3)
Total number of elements (size): 9
Data type of elements (dtype): int64

Accessing Elements in a 2-D Array:

---

In [ ]:
# Accessing the element at row 1, column 2
element = array_2d[1, 2]

print("Element @ row 1 and @ column 2 is : ", element)

# first row or column is indexed as 0, the second as 1, and so on.

Element @ row 1 and @ column 2 is :  6

In [ ]:
import numpy as np
# --------------------------  Accessing Row -----------------------------
# Creating a 2-D array
array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(array_2d)

# Accessing the first row
first_row = array_2d[0, :]

print("First Row:", first_row)

# Accessing the second row (index 1)
second_row = array_2d[1, :]

print("Second Row:", second_row)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
First Row: [1 2 3]
Second Row: [4 5 6]

In [ ]:
#--------------  Accessing Column ------------------

# Accessing the third column (index 2)
third_column = array_2d[:, 2]

print("Third Column:", third_column)

Third Column: [3 6 9]

**1.How to add matrices using numpy?**

In [ ]:
import numpy as np

# Creating two matrices (2-D arrays)
matrix_A = np.array([[1, 2, 3], [4, 5, 6]])
matrix_B = np.array([[7, 8, 9], [10, 11, 12]])

print("Matrix A:\n", matrix_A)
print("Matrix B:\n", matrix_B)

# Adding the two matrices
result_matrix = matrix_A + matrix_B

print("Result of Matrix Addition:\n", result_matrix)

Matrix A:
 [[1 2 3]
 [4 5 6]]
Matrix B:
 [[ 7  8  9]
 [10 11 12]]
Result of Matrix Addition:
 [[ 8 10 12]
 [14 16 18]]

**2. How to multiply two matrices using np.multiply()**

In [ ]:
# Performing element-wise multiplication
result_matrix = np.multiply(matrix_A, matrix_B)

print("Result of Element-Wise Multiplication:\n", result_matrix)

Result of Element-Wise Multiplication:
 [[ 7 16 27]
 [40 55 72]]

**3.How to find the transpose of the matrix using numpy? use np.transpose()**

In [ ]:
import numpy as np

# Creating a matrix (2-D array)
matrix = np.array([[1, 2, 3], [4, 5, 6]])

print("Original Matrix:\n", matrix)

Original Matrix:
 [[1 2 3]
 [4 5 6]]

In [ ]:
# Finding the transpose of the matrix
transposed_matrix = np.transpose(matrix)

print("Transposed Matrix:\n", transposed_matrix)

Transposed Matrix:
 [[1 4]
 [2 5]
 [3 6]]

In [ ]:
# Finding the transpose of the matrix using the .T attribute
transposed_matrix = matrix.T

print("Transposed Matrix (using .T attribute):\n", transposed_matrix)

Transposed Matrix (using .T attribute):
 [[1 4]
 [2 5]
 [3 6]]

**3-D arrays**

---
* An array that has 2-D arrays (matrices) as its elements is called 3-D array.

* These are often used to represent a 3rd order tensor.


---
* A 3-D array in NumPy is an array with three dimensions, which can be visualized as a stack of 2-D matrices or grids. It is essentially a collection of matrices, where each matrix represents a "layer" in the 3-D structure. This type of array is useful for handling more complex data, such as images with multiple color channels or datasets with multiple features.

Create a 3-D array with two 2-D arrays, both containing two arrays with the values 1,2,3 and 4,5,6:

In [ ]:
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [ ]:
import numpy as np

# Creating a 3-D array
array_3d = np.array([[[1, 2, 3], [4, 5, 6]],
                     [[7, 8, 9], [10, 11, 12]],
                     [[13, 14, 15], [16, 17, 18]]])

print("3-D Array:\n", array_3d)

3-D Array:
 [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]

 [[13 14 15]
  [16 17 18]]]

**Accessing Elements in a 3-D Array:**

---

You can access elements in a 3-D array using three indices:**[depth, row, column].**

In [ ]:
# Accessing an element in the 3-D array
element = array_3d[1, 0, 2]  # Accessing the element at depth 1, row 0, column 2

print("Element at depth 1, row 0, column 2:", element)

Element at depth 1, row 0, column 2: 9

**Accessing a Specific Matrix (2-D Slice) in the 3-D Array:**

In [ ]:
# Accessing a 2-D matrix (depth slice) from the 3-D array
matrix_at_depth_1 = array_3d[1]

print("2-D Matrix at depth 1:\n", matrix_at_depth_1)

2-D Matrix at depth 1:
 [[ 7  8  9]
 [10 11 12]]

**Slicing a 3-D Array:**

In [ ]:
# Slicing the 3-D array to get a sub-array
sub_array = array_3d[:2, 1:, :2]  # Slicing the first two matrices, rows from index 1, and columns up to index 2

print("Sliced 3-D Array:\n", sub_array)

Sliced 3-D Array:
 [[[ 4  5]]

 [[10 11]]]

**Check Number of Dimensions?**

In [ ]:
import numpy as np

a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

Higher Dimensional Arrays

---
* An array can have any number of dimensions.

* When the array is created, you can define the number of dimensions by using the ndmin argument.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('number of dimensions :', arr.ndim)

[[[[[1 2 3 4]]]]]
number of dimensions : 5

In this array the innermost dimension (5th dim) has 4 elements, the 4th dim has 1 element that is the vector, the 3rd dim has 1 element that is the matrix with the vector, the 2nd dim has 1 element that is 3D array and 1st dim has 1 element that is a 4D array.

**arange()**

---
* Returns an array with evenly spaced elements as per the interval. The interval mentioned is half-opened
* [Start,stop),
* Start Stop Step

In [ ]:
import numpy as np
array=np.arange(start=0,stop=10,step=1)
array1=np.arange(0,10,1)
print(array)
print(array1)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

1. Write a program to create 3x3 matrix with values ranging from 2 to 10.

In [ ]:
import numpy as np

# Creating a 3x3 matrix with values ranging from 2 to 10
# And reshaping it to 3x3 matrix

x= np.arange(2, 11).reshape(3,3)
print(x)

print("-----------------------")
first =np.arange(2,11)
print(first)
print("-----------------------")

second=first.reshape(3,3)
print(second)
print(second.ndim)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]
-----------------------
[ 2  3  4  5  6  7  8  9 10]
-----------------------
[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]
2

2. How do you create an array with all values as zeros and ones
* use np.zeros()
* use np.ones()

In [ ]:
# np.zeros(shape, dtype=float, order='C')

In [ ]:
import numpy as np

# Creating a 1-D array of zeros with 5 elements
array_1d_zeros = np.zeros(5)
print("1-D Array of Zeros:\n", array_1d_zeros)

# Creating a 2-D array of zeros with shape (3, 4)
array_2d_zeros = np.zeros((3, 4))
print("2-D Array of Zeros:\n", array_2d_zeros)

# Creating a 3-D array of zeros with shape (2, 3, 4)
array_3d_zeros = np.zeros((2, 3, 4))
print("3-D Array of Zeros:\n", array_3d_zeros)

1-D Array of Zeros:
 [0. 0. 0. 0. 0.]
2-D Array of Zeros:
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
3-D Array of Zeros:
 [[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]

In [ ]:
import numpy as np

# Creating a 1-D array of ones with 5 elements
array_1d_ones = np.ones(5)
print("1-D Array of Ones:\n", array_1d_ones)

# Creating a 2-D array of ones with shape (3, 4)
array_2d_ones = np.ones((3, 4))
print("2-D Array of Ones:\n", array_2d_ones)

# Creating a 3-D array of ones with shape (2, 3, 4)
array_3d_ones = np.ones((2, 3, 4))
print("3-D Array of Ones:\n", array_3d_ones)

1-D Array of Ones:
 [1. 1. 1. 1. 1.]
2-D Array of Ones:
 [[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
3-D Array of Ones:
 [[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]]

* The **eye tool returns a 2-D array with  1s as the diagonal and  0s elsewhere**. The diagonal can be main, upper, or lower depending on the optional parameter k. **A positive k is for the upper diagonal, a negative k is for the lower, and a  0 k (default) is for the main diagonal.**

In [ ]:
# Python Programming illustrating
# numpy.eye method

import numpy as np

# 2x2 matrix with 1's on main diagonal
b = np.eye(2, dtype = float)
print("Matrix b : \n", b)
print("-------------------------------------------")

b = np.eye(3)
print("Matrix b : \n", b)
print("-------------------------------------------")

# matrix with R=4 C=5 and 1 on diagonal
# below main diagonal
a = np.eye(4, 5, k = -1)
print("\nMatrix a : \n", a)

Matrix b :
 [[1. 0.]
 [0. 1.]]
-------------------------------------------
Matrix b :
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
-------------------------------------------

Matrix a :
 [[0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]]

# NumPy Array Indexing

**Access Array Elements**

* Array indexing is the same as accessing an array element.

* You can access an array element by referring to its index number.

* The indexes in NumPy arrays start with 0, meaning that the first element has index 0, and the second has index 1 etc.

Get the first element from the following array:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[0])

1

Get the second element from the following array.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[1])

2

Get third and fourth elements from the following array and add them.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[2] + arr[3])

7

**Access 2-D Arrays**

---
* To access elements from 2-D arrays** we can use comma separated integers representing the dimension and the index of the element.**

* Think of 2-D arrays like a table with rows and columns, **where the dimension represents the row and the index represents the column.**

Access the element on the first row, second column:

In [ ]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2nd element on 1st row: ', arr[0, 1])

2nd element on 1st row:  2

Access the element on the 2nd row, 5th column:

In [ ]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('5th element on 2nd row: ', arr[1, 4])

5th element on 2nd row:  10

**Access 3-D Arrays**

---
* To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

Access the third element of the second array of the first array:

In [ ]:
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

6

**Negative Indexing**

---

* Use negative indexing to access an array from the end.

In [ ]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

1.Write a program to create a null vector of size 10 and update the sixth value to 11.

In [ ]:
import numpy as np

# Creating a null vector of size 10
x= np.zeros(10)

print(x)

# Updating the sixth value to 11
x[6]=11

print(x)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[ 0.  0.  0.  0.  0.  0. 11.  0.  0.  0.]

2. Create an array with values ranging from 12 to 38

In [ ]:
import numpy as np

# Creating an array with values ranging from 12 to 38
x= np.arange(12,39)

print(x)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38]

3. Reverse an array

In [ ]:
x = x[::-1]
print(x)

[38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15
 14 13 12]

# NumPy Array Slicing

**Slicing arrays**

* Slicing in python means taking elements from one given index to another given index.

* We pass slice instead of index like this: [start:end].

* We can also define the step, like this: [start:end:step].

* If we don't pass start its considered 0

* If we don't pass end its considered length of array in that dimension

* If we don't pass step its considered 1

**Note: The result includes the start index, but excludes the end index.**

Slice elements from index 1 to index 5 from the following array:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

Slice elements from index 4 to the end of the array:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

[5 6 7]

Slice elements from the beginning to index 4 (not included):

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])

[1 2 3 4]

**Negative Slicing**
* Use the minus operator to refer to an index from the end:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

**STEP**
* Use the step value to determine the step of the slicing:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

In [ ]:
import numpy as np

arr = np.array([12,34,54,645,76,345,56])

print(arr[1:5:2])

[ 34 645]

In [ ]:
import numpy as np

arr = np.array([12,34,54,645,76,345,56])

print(arr[1:5:3])

[34 76]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])
# step is 2, which means every second element is selected.

[1 3 5 7]

**Slicing 2-D Arrays**

---

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

# print(arr)

# print("---------")

print(arr[1, 1:4])

[7 8 9]

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr)

print("---------")

print(arr[0:2, 2])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
---------
[3 8]

**From both elements, return index 2:**
* 0:2: This is slicing notation for selecting rows. It means:

   * Start at index 0 (inclusive).
   *  End at index 2 (exclusive).
So, this notation selects rows 0 and 1. Since there are only 2 rows, it selects both rows.

* 2: This selects the column at index 2 from the selected rows.

   * Therefore, arr[0:2, 2] extracts elements from the 2nd column (index 2) of the rows specified by 0:2.

From both elements, slice index 1 to index 4 (not included), this will return a 2-D array:

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

1. Create a 2D Array with 1 on border and 0 inside.

In [ ]:
import numpy as np



# Create a 2-D array filled with zeros
array = np.zeros((5, 5), dtype=int)

# Set the border values to 1
array[0, :] = 1          # Top border
array[-1, :] = 1         # Bottom border
array[:, 0] = 1          # Left border
array[:, -1] = 1         # Right border

print(array)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

In [ ]:
array=np.ones((5,5),dtype=int)
# print(array)
array[1:-1,1:-1]=0
print(array)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

2. Create 4x4 matrix and fill it with checkerboard pattern

In [ ]:
import numpy as np

# Create a 4x4 matrix filled with zeros
x = np.zeros((4, 4), dtype=int)

print(x)
print("--------------------------------")
# Fill the matrix with checkerboard pattern

x[1::2, ::2] = 1
# 1::2 selects every second row, starting from the second row (index 1).
# ::2 selects every second column, starting from the first column (index 0)
print(x)
x[::2, 1::2] = 1
# ::2 selects every second row, starting from the first row (index 0).
# 1::2 selects every second column, starting from the second column (index 1)

print("===== Final Result ===== ")
print(x)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]
--------------------------------
[[0 0 0 0]
 [1 0 1 0]
 [0 0 0 0]
 [1 0 1 0]]
===== Final Result =====
[[0 1 0 1]
 [1 0 1 0]
 [0 1 0 1]
 [1 0 1 0]]

3. Get the values and indices of the elements that are bigger than 10 in a given array.

* nonzero() , returns the indices of the elements that are non-zero

In [ ]:
import numpy as np

x = np.array([[0, 10, 20], [20, 30, 40]])

print("Original array:")
print(x)
# Filtering values bigger than 10
print("Values bigger than 10 =", x[x>10])
# indices of elements that are bigger than 10 using np.nonzero()
print("Their indices are ", np.nonzero(x > 10))

Original array:
[[ 0 10 20]
 [20 30 40]]
Values bigger than 10 = [20 20 30 40]
Their indices are  (array([0, 1, 1, 1]), array([2, 0, 1, 2]))

This means:
  * 20 at index (0, 2)
  * 20 at index (1, 0)
  * 30 at index (1, 1)
  * 40 at index (1, 2)

4.  Numpy program to Convert celsius into Fahrenheit

In [ ]:
import numpy as np
print("values in centegrade degrees:")
c = np.array([0,12,45.21,34,99.91])

print(c)
print("Values in Fahrenheit degrees:")
print(np.round((9*c/5 + 32),2))

values in centegrade degrees:
[ 0.   12.   45.21 34.   99.91]
Values in Fahrenheit degrees:
[ 32.    53.6  113.38  93.2  211.84]

# NumPy Data Types